.container {
  display: grid;
  grid-template-columns: 2rem 1fr 1fr;
  grid-template-rows: 1fr;

  grid-template-areas: 'checkbox title delete';

  /* set the third column to align items to the right */

  position: relative;
  width: 736px;
  left: calc(50% - 736px / 2);
  top: 280px;

  padding: 1rem 0;
  background: var(--gray-400);
}

.container + .container {
  margin-top: 0.75rem;
}

.container img {
  grid-area: checkbox;
  margin-left: 0.5rem;
}

p {
  grid-area: title;
  text-align: left;
  align-self: center;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 140%;
  color: var(--gray-100);
  margin: 0 0.75rem;
}

.checkedText {
  text-decoration: line-through;
  color: var(--gray-300);
}

.container button {
  grid-area: delete;
  justify-self: end;
  align-self: center;
  margin-right: 0.75rem;

  background: transparent;
  border: 0;

  cursor: pointer;
  line-height: 0;
  color: var(--gray-300);
  border-radius: 8px;
  transition: background 0.2s;
}

.container > button:hover {
  color: var(--red-300);
}

@media (max-width: 767px) {
  .container {
    width: 90%;
    margin: 0 auto;
    left: calc(50% - 100% / 2);
    top: 19rem;
  }
}
