.container {
  position: absolute;
  height: 200px;
  left: 0px;
  right: 0px;
  top: 0px;

  background: var(--gray-700);

  display: flex;
  align-items: center;
  justify-content: center;
}

.container > img:nth-child(1) {
  margin-right: 0.75rem;
}
